/* --- ESTILO GERAL --- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fafafa;
}

/* HEADER */
header {
    background: #1363DF;
    color: white;
    text-align: center;
    padding: 30px 15px;
}

/* SEÇÃO */
section {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 20px 0;
}

h2 {
    margin-top: 40px;
}

/* BLOCOS (lugar) */
.lugar {
    background: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px #00000020;
}

.lugar img {
    width: 100%;
    border-radius: 8px;
    margin: 15px 0;
}

.tabela-eventos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    background: white;
}

.tabela-eventos th,
.tabela-eventos td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabela-eventos th {
    background: #e8e8e8;
    font-weight: bold;
}

.titulo-tabela {
    margin-top: 40px;
}

/* LINK EXTRA */
.link-extra {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background: #0B2F66;
    color: white;
    margin-top: 40px;
}
