body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    text-align: justify;
}

.galeria {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.galeria img {
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #0077b6;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    bottom: 0;
    position: fixed;
    width: 100%;
}