/* APENAS ESTILIZAÇÃO DO MENU */
.menu {
    background-color: #0B2F66;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    display: block;
    padding: 15px 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.menu ul li a:hover,
.menu ul li a.ativo {
    background: #145DA0;
}